.day-cell {
  padding: 10px;
  border-radius: 10px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: relative;
  background: #f9f9f9; /* القيمة الافتراضية */
  transition: background-color 0.3s ease; /* تأثير الانتقال */
  text-align: center;
  direction: rtl;
}

.day-number {
  font-weight: bold;
  margin-bottom: 5px;
}

.vaccine-name {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-weight: bold;
  width: 90%;
}

/* تغيير الخلفية استنادًا إلى الـ status */
.missed {
  background: #e57373; /* أحمر */
}

.completed {
  background: #4caf50; /* أخضر */
}

.upcoming {
  background: #ffcc80; /* برتقالي */
}
