@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-content {
  margin-left: 60px;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
}

.sidebar.open + .main-content {
  margin-left: 200px;
}

.app-container {
  display: flex;
}

.no-margin .main-content {
  margin-left: 0; /* إزالة المسافة عند الدخول لصفحات تسجيل الدخول */
}
